*.png
!report/figures/*.png
**/__pycache__/
**/model_checkpoints/
**/custom_checkpoints/
**/.pytest_cache/
**/logs
.coverage
.coveragerc
**/criticalnets.egg-info

# LaTeX guff

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz